In [2]:
import pandas as pd
import numpy as np
import datetime

In [3]:
FileName = 'Terrorism_df_V4.csv'
df = pd.read_csv(FileName, low_memory = False)

In [4]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None
df.head()

,Unnamed: 0,eventid,Year,Month,Day,approxdate,Country,Region,provstate,city,latitude,longitude,multiple,related,PERS_attack,Larg_aud_attack,Out_IHL_attack,suicide,Attack_type,Target_type,Target_subtype,Target_nationality,Group,guncertain1,individual,Number_attackers,nperpcap,Weapon_type,weapsubtype1_txt,Killed,nkillter,Wounded,property,propextent,propextent_txt,propvalue,ishostkid,ransom,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,dateInt,Date,Casualties,Country_year
0,0,1.970000e+11,1970,7,2,NaN,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,0.0,NaN,1,1,1,0,Assassination,Private Citizens & Property,Named Civilian,Dominican Republic,MANO-D,0.0,0,NaN,NaN,Unknown,NaN,1.0,NaN,0.0,0,NaN,NaN,NaN,0,0,0,0,0,0,19700702,7/2/1970,1.0,Dominican Republic1970
1,2,1.970010e+11,1970,1,15,NaN,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,0.0,NaN,1,1,1,0,Assassination,Journalists & Media,Radio Journalist/Staff/Facility,United States,Unknown,0.0,0,NaN,NaN,Unknown,NaN,1.0,NaN,0.0,0,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,1.0,Philippines1970
2,3,1.970010e+11,1970,1,15,NaN,Greece,Western Europe,Attica,Athens,37.997490,23.762728,0.0,NaN,1,1,1,0,Bombing/Explosion,Government (Diplomatic),Embassy/Consulate,United States,Unknown,0.0,0,NaN,NaN,Explosives,Unknown Explosive Type,NaN,NaN,NaN,1,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,NaN,Greece1970
3,4,1.970010e+11,1970,1,15,NaN,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,0.0,NaN,1,1,1,0,Facility/Infrastructure Attack,Government (Diplomatic),Embassy/Consulate,United States,Unknown,0.0,0,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,NaN,Japan1970
4,5,1.970010e+11,1970,1,1,NaN,United States,North America,Illinois,Cairo,37.005105,-89.176269,0.0,NaN,1,1,1,0,Armed Assault,Police,"Police Building (headquarters, station, school)",United States,Black Nationalists,0.0,0,NaN,NaN,Firearms,Unknown Gun Type,0.0,0.0,0.0,1,3.0,Minor (likely < $1 million),NaN,0,0,Unknown,Unknown,0,Unknown,19700101,1/1/1970,0.0,United States1970

In [21]:
FileName_GDP = 'World_GDP.csv'
df_GDP = pd.read_csv(FileName_GDP, low_memory = False)
df_GDP.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.054634e+08,4.876025e+08,5.964236e+08,6.953044e+08,7.648871e+08,8.721387e+08,9.584632e+08,1.082980e+09,1.245688e+09,1.320475e+09,1.379961e+09,1.531944e+09,1.665101e+09,1.722799e+09,1.873453e+09,1.920112e+09,1.941341e+09,2.021229e+09,2.228492e+09,2.330726e+09,2.424581e+09,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN
1,Africa Eastern and Southern,1.934248e+10,1.975349e+10,2.152662e+10,2.577236e+10,2.356323e+10,2.685135e+10,2.919650e+10,3.021907e+10,3.292707e+10,3.780176e+10,4.037711e+10,4.454432e+10,4.837496e+10,6.307931e+10,7.836992e+10,8.356248e+10,8.333700e+10,9.513344e+10,1.065080e+11,1.246880e+11,1.567510e+11,1.606220e+11,1.549050e+11,1.600010e+11,1.462440e+11,1.306380e+11,1.472490e+11,1.800130e+11,1.892910e+11,1.948390e+11,2.126590e+11,2.211000e+11,2.205540e+11,2.209500e+11,2.251000e+11,2.531360e+11,2.525500e+11,2.655490e+11,2.503780e+11,2.470670e+11,2.683150e+11,2.421050e+11,2.476570e+11,3.267440e+11,4.058600e+11,4.717430e+11,5.335330e+11,6.131640e+11,6.680370e+11,6.709860e+11,8.057950e+11,8.986050e+11,9.155900e+11,9.300860e+11,9.588250e+11,8.954400e+11,8.569920e+11,9.647910e+11,9.866110e+11,9.803720e+11,9.008290e+11
2,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,1.831109e+09,1.595555e+09,1.733333e+09,2.155555e+09,2.366667e+09,2.555556e+09,2.953333e+09,3.300000e+09,3.697940e+09,3.641723e+09,3.478788e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.055180e+09,4.515559e+09,5.226779e+09,6.209138e+09,6.971286e+09,9.747880e+09,1.010923e+10,1.243909e+10,1.585657e+10,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10,1.980707e+10
3,Africa Western and Central,1.040732e+10,1.113130e+10,1.194684e+10,1.268022e+10,1.384262e+10,1.486682e+10,1.583747e+10,1.443065e+10,1.488470e+10,1.688703e+10,2.351148e+10,2.083891e+10,2.527234e+10,3.128296e+10,4.422741e+10,5.145977e+10,6.214756e+10,6.533410e+10,7.122053e+10,8.865431e+10,1.120640e+11,2.110650e+11,1.872180e+11,1.381560e+11,1.142960e+11,1.165410e+11,1.075290e+11,1.103540e+11,1.089750e+11,1.017990e+11,1.218380e+11,1.174910e+11,1.183170e+11,9.718677e+10,8.569306e+10,1.074030e+11,1.190440e+11,1.199830e+11,1.226210e+11,1.301990e+11,1.341500e+11,1.418630e+11,1.705320e+11,1.973840e+11,2.458560e+11,3.021110e+11,3.843360e+11,4.518660e+11,5.530310e+11,4.925460e+11,5.802170e+11,6.584280e+11,7.169350e+11,8.078190e+11,8.469430e+11,7.574920e+11,6.874850e+11,6.809890e+11,7.381310e+11,7.920790e+11,7.865850e+11
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.934074e+09,5.553824e+09,5.553824e+09,5.787824e+09,6.135166e+09,7.558613e+09,7.076794e+09,8.089279e+09,8.775116e+09,1.020792e+10,1.123628e+10,NaN,NaN,NaN,3.390500e+09,5.561222e+09,7.526964e+09,7.649716e+09,6.506619e+09,6.152937e+09,9.129635e+09,8.936064e+09,1.528559e+10,1.781271e+10,2.355205e+10,3.697092e+10,5.238101e+10,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117900e+11,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.941719e+10,6.230691e+10

In [22]:
df_GDP_new = pd.melt(df_GDP, 
        id_vars='Country Name', 
        value_vars=list(df_GDP.columns[1:]), # list of days of the week
        var_name='Year', 
        value_name='GDP in $')

In [26]:
df_GDP_new.head()
df_GDP_new.to_csv("GDP_new.csv")

In [19]:
df_GDP_new["Country_year"] = df_GDP_new["Country Name"] + str(df_GDP_new["Year"])
df_GDP_new.head()

,Country Name,Year,GDP in $,Country_year
0,Aruba,1960,NaN,Aruba0 1960\n1 1960\n2 19...
1,Africa Eastern and Southern,1960,1.934248e+10,Africa Eastern and Southern0 1960\n1 ...
2,Afghanistan,1960,5.377778e+08,Afghanistan0 1960\n1 1960\n2 ...
3,Africa Western and Central,1960,1.040732e+10,Africa Western and Central0 1960\n1 ...
4,Angola,1960,NaN,Angola0 1960\n1 1960\n2 1...

In [34]:
FileName3 = 'GDP_new.csv'
df_gdp = pd.read_csv(FileName3, low_memory = False)

In [35]:
df_gdp.head()

,Unnamed: 0,Country Name,Year,GDP in $,Country_year
0,0,Aruba,1960,NaN,Aruba1960
1,1,Africa Eastern and Southern,1960,1.934248e+10,Africa Eastern and Southern1960
2,2,Afghanistan,1960,5.377778e+08,Afghanistan1960
3,3,Africa Western and Central,1960,1.040732e+10,Africa Western and Central1960
4,4,Angola,1960,NaN,Angola1960

In [36]:
sub_df_gdp = df_gdp[["GDP in $", "Country_year"]]
df_add_gdp = df.merge(sub_df_gdp, on="Country_year", how="left")
df_add_gdp.head()

,Unnamed: 0,eventid,Year,Month,Day,approxdate,Country,Region,provstate,city,latitude,longitude,multiple,related,PERS_attack,Larg_aud_attack,Out_IHL_attack,suicide,Attack_type,Target_type,Target_subtype,Target_nationality,Group,guncertain1,individual,Number_attackers,nperpcap,Weapon_type,weapsubtype1_txt,Killed,nkillter,Wounded,property,propextent,propextent_txt,propvalue,ishostkid,ransom,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,dateInt,Date,Casualties,Country_year,GDP in $
0,0,1.970000e+11,1970,7,2,NaN,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,0.0,NaN,1,1,1,0,Assassination,Private Citizens & Property,Named Civilian,Dominican Republic,MANO-D,0.0,0,NaN,NaN,Unknown,NaN,1.0,NaN,0.0,0,NaN,NaN,NaN,0,0,0,0,0,0,19700702,7/2/1970,1.0,Dominican Republic1970,1.485500e+09
1,2,1.970010e+11,1970,1,15,NaN,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,0.0,NaN,1,1,1,0,Assassination,Journalists & Media,Radio Journalist/Staff/Facility,United States,Unknown,0.0,0,NaN,NaN,Unknown,NaN,1.0,NaN,0.0,0,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,1.0,Philippines1970,6.687205e+09
2,3,1.970010e+11,1970,1,15,NaN,Greece,Western Europe,Attica,Athens,37.997490,23.762728,0.0,NaN,1,1,1,0,Bombing/Explosion,Government (Diplomatic),Embassy/Consulate,United States,Unknown,0.0,0,NaN,NaN,Explosives,Unknown Explosive Type,NaN,NaN,NaN,1,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,NaN,Greece1970,1.313986e+10
3,4,1.970010e+11,1970,1,15,NaN,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,0.0,NaN,1,1,1,0,Facility/Infrastructure Attack,Government (Diplomatic),Embassy/Consulate,United States,Unknown,0.0,0,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,NaN,Japan1970,2.126090e+11
4,5,1.970010e+11,1970,1,1,NaN,United States,North America,Illinois,Cairo,37.005105,-89.176269,0.0,NaN,1,1,1,0,Armed Assault,Police,"Police Building (headquarters, station, school)",United States,Black Nationalists,0.0,0,NaN,NaN,Firearms,Unknown Gun Type,0.0,0.0,0.0,1,3.0,Minor (likely < $1 million),NaN,0,0,Unknown,Unknown,0,Unknown,19700101,1/1/1970,0.0,United States1970,1.073300e+12

In [37]:
df_add_gdp.count()

Unnamed: 0            181671
eventid               181671
Year                  181671
Month                 181671
Day                   181671
approxdate              9239
Country               181671
Region                181671
provstate             181250
city                  181237
latitude              177119
longitude             177118
multiple              181670
related                25038
PERS_attack           181671
Larg_aud_attack       181671
Out_IHL_attack        181671
suicide               181671
Attack_type           181671
Target_type           181671
Target_subtype        171299
Target_nationality    180112
Group                 181671
guncertain1           181291
individual            181671
Number_attackers       28357
nperpcap              110340
Weapon_type           181671
weapsubtype1_txt      160913
Killed                171369
nkillter              114733
Wounded               165371
property              181671
propextent             64055
propextent_txt         64055
propvalue              38985
ishostkid             181671
ransom                181671
INT_LOG               181671
INT_IDEO              181671
INT_MISC              181671
INT_ANY               181671
dateInt               181671
Date                  181671
Casualties            164808
Country_year          181671
GDP in $              161380
dtype: int64

In [39]:
FileName4 = 'Population_total.csv'
df_pop = pd.read_csv(FileName4, low_memory = False)

In [40]:
df_pop_new = pd.melt(df_pop, 
        id_vars='Country Name', 
        value_vars=list(df_GDP.columns[1:]), # list of days of the week
        var_name='Year', 
        value_name='Population')

In [41]:
df_pop_new.head()

                  Country Name  Year   Population
0                        Aruba  1960      54208.0
1  Africa Eastern and Southern  1960  130836765.0
2                  Afghanistan  1960    8996967.0
3   Africa Western and Central  1960   96396419.0
4                       Angola  1960    5454938.0

In [42]:
df_pop_new.to_csv("Pop_new.csv")

In [43]:
FileName5 = 'Pop_new.csv'
df_pop_new = pd.read_csv(FileName5, low_memory = False)

In [44]:
df_pop_new.head()

,Unnamed: 0,Country Name,Year,Population,Country_year
0,0,Aruba,1960,54208.0,Aruba1960
1,1,Africa Eastern and Southern,1960,130836765.0,Africa Eastern and Southern1960
2,2,Afghanistan,1960,8996967.0,Afghanistan1960
3,3,Africa Western and Central,1960,96396419.0,Africa Western and Central1960
4,4,Angola,1960,5454938.0,Angola1960

In [46]:
sub_df_pop = df_pop_new[["Population", "Country_year"]]
df_add_pop = df_add_gdp.merge(sub_df_pop, on="Country_year", how="left")
df_add_pop.head()

,Unnamed: 0,eventid,Year,Month,Day,approxdate,Country,Region,provstate,city,latitude,longitude,multiple,related,PERS_attack,Larg_aud_attack,Out_IHL_attack,suicide,Attack_type,Target_type,Target_subtype,Target_nationality,Group,guncertain1,individual,Number_attackers,nperpcap,Weapon_type,weapsubtype1_txt,Killed,nkillter,Wounded,property,propextent,propextent_txt,propvalue,ishostkid,ransom,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,dateInt,Date,Casualties,Country_year,GDP in $,Population
0,0,1.970000e+11,1970,7,2,NaN,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,0.0,NaN,1,1,1,0,Assassination,Private Citizens & Property,Named Civilian,Dominican Republic,MANO-D,0.0,0,NaN,NaN,Unknown,NaN,1.0,NaN,0.0,0,NaN,NaN,NaN,0,0,0,0,0,0,19700702,7/2/1970,1.0,Dominican Republic1970,1.485500e+09,4499722.0
1,2,1.970010e+11,1970,1,15,NaN,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,0.0,NaN,1,1,1,0,Assassination,Journalists & Media,Radio Journalist/Staff/Facility,United States,Unknown,0.0,0,NaN,NaN,Unknown,NaN,1.0,NaN,0.0,0,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,1.0,Philippines1970,6.687205e+09,35803591.0
2,3,1.970010e+11,1970,1,15,NaN,Greece,Western Europe,Attica,Athens,37.997490,23.762728,0.0,NaN,1,1,1,0,Bombing/Explosion,Government (Diplomatic),Embassy/Consulate,United States,Unknown,0.0,0,NaN,NaN,Explosives,Unknown Explosive Type,NaN,NaN,NaN,1,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,NaN,Greece1970,1.313986e+10,8792806.0
3,4,1.970010e+11,1970,1,15,NaN,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,0.0,NaN,1,1,1,0,Facility/Infrastructure Attack,Government (Diplomatic),Embassy/Consulate,United States,Unknown,0.0,0,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,NaN,Japan1970,2.126090e+11,103403000.0
4,5,1.970010e+11,1970,1,1,NaN,United States,North America,Illinois,Cairo,37.005105,-89.176269,0.0,NaN,1,1,1,0,Armed Assault,Police,"Police Building (headquarters, station, school)",United States,Black Nationalists,0.0,0,NaN,NaN,Firearms,Unknown Gun Type,0.0,0.0,0.0,1,3.0,Minor (likely < $1 million),NaN,0,0,Unknown,Unknown,0,Unknown,19700101,1/1/1970,0.0,United States1970,1.073300e+12,205052000.0

In [54]:
df_add_pop["GDP per capita"] = df_add_pop["GDP in $"] / df_add_pop["Population"]
df_add_pop.head()

,Unnamed: 0,eventid,Year,Month,Day,approxdate,Country,Region,provstate,city,latitude,longitude,multiple,related,PERS_attack,Larg_aud_attack,Out_IHL_attack,suicide,Attack_type,Target_type,Target_subtype,Target_nationality,Group,guncertain1,individual,Number_attackers,nperpcap,Weapon_type,weapsubtype1_txt,Killed,nkillter,Wounded,property,propextent,propextent_txt,propvalue,ishostkid,ransom,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,dateInt,Date,Casualties,Country_year,GDP in $,Population,GDP per capita
0,0,1.970000e+11,1970,7,2,NaN,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,0.0,NaN,1,1,1,0,Assassination,Private Citizens & Property,Named Civilian,Dominican Republic,MANO-D,0.0,0,NaN,NaN,Unknown,NaN,1.0,NaN,0.0,0,NaN,NaN,NaN,0,0,0,0,0,0,19700702,7/2/1970,1.0,Dominican Republic1970,1.485500e+09,4499722.0,330.131506
1,2,1.970010e+11,1970,1,15,NaN,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,0.0,NaN,1,1,1,0,Assassination,Journalists & Media,Radio Journalist/Staff/Facility,United States,Unknown,0.0,0,NaN,NaN,Unknown,NaN,1.0,NaN,0.0,0,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,1.0,Philippines1970,6.687205e+09,35803591.0,186.774696
2,3,1.970010e+11,1970,1,15,NaN,Greece,Western Europe,Attica,Athens,37.997490,23.762728,0.0,NaN,1,1,1,0,Bombing/Explosion,Government (Diplomatic),Embassy/Consulate,United States,Unknown,0.0,0,NaN,NaN,Explosives,Unknown Explosive Type,NaN,NaN,NaN,1,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,NaN,Greece1970,1.313986e+10,8792806.0,1494.387984
3,4,1.970010e+11,1970,1,15,NaN,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,0.0,NaN,1,1,1,0,Facility/Infrastructure Attack,Government (Diplomatic),Embassy/Consulate,United States,Unknown,0.0,0,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0,0,Unknown,Unknown,1,1,19700115,1/15/1970,NaN,Japan1970,2.126090e+11,103403000.0,2056.120229
4,5,1.970010e+11,1970,1,1,NaN,United States,North America,Illinois,Cairo,37.005105,-89.176269,0.0,NaN,1,1,1,0,Armed Assault,Police,"Police Building (headquarters, station, school)",United States,Black Nationalists,0.0,0,NaN,NaN,Firearms,Unknown Gun Type,0.0,0.0,0.0,1,3.0,Minor (likely < $1 million),NaN,0,0,Unknown,Unknown,0,Unknown,19700101,1/1/1970,0.0,United States1970,1.073300e+12,205052000.0,5234.282036

In [56]:
df_add_pop[df_add_pop["Country"] == "United States"].tail()

,Unnamed: 0,eventid,Year,Month,Day,approxdate,Country,Region,provstate,city,latitude,longitude,multiple,related,PERS_attack,Larg_aud_attack,Out_IHL_attack,suicide,Attack_type,Target_type,Target_subtype,Target_nationality,Group,guncertain1,individual,Number_attackers,nperpcap,Weapon_type,weapsubtype1_txt,Killed,nkillter,Wounded,property,propextent,propextent_txt,propvalue,ishostkid,ransom,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,dateInt,Date,Casualties,Country_year,GDP in $,Population,GDP per capita
180441,180461,2.017110e+11,2017,11,13,NaN,United States,North America,North Carolina,Vale,35.630842,-81.439250,0.0,NaN,1,1,1,0,Facility/Infrastructure Attack,Religious Figures/Institutions,Place of Worship,United States,Pro-LGBT Rights extremists,0.0,0,NaN,0.0,Incendiary,Arson/Fire,0.0,0.0,0.0,1,3.0,Minor (likely < $1 million),-99.0,0,Unknown,Unknown,Unknown,0,Unknown,20171113,11/13/2017,0.0,United States2017,1.954300e+13,325122128.0,60109.719754
181121,181141,2.017120e+11,2017,12,7,NaN,United States,North America,New Mexico,Aztec,36.820666,-107.990818,0.0,NaN,1,1,1,1,Armed Assault,Educational Institution,School/University/Educational Building,United States,White extremists,0.0,1,1.0,0.0,Firearms,Handgun,3.0,1.0,0.0,1,3.0,Minor (likely < $1 million),-99.0,0,Unknown,Unknown,Unknown,0,Unknown,20171207,12/7/2017,3.0,United States2017,1.954300e+13,325122128.0,60109.719754
181199,181219,2.017120e+11,2017,12,11,NaN,United States,North America,New York,New York City,40.697132,-73.931351,0.0,NaN,1,1,1,1,Bombing/Explosion,Transportation,Bus Station/Stop,United States,Jihadi-inspired extremists,0.0,1,1.0,1.0,Explosives,Suicide (carried bodily by human being),0.0,0.0,4.0,Unknown,NaN,NaN,NaN,0,Unknown,Unknown,Unknown,0,Unknown,20171211,12/11/2017,4.0,United States2017,1.954300e+13,325122128.0,60109.719754
181458,181478,2.017120e+11,2017,12,22,NaN,United States,North America,Pennsylvania,Harrisburg,40.262772,-76.881107,1.0,"201712220022, 201712220023",0,1,1,0,Armed Assault,Police,Police Patrol (including vehicles and convoys),United States,Unknown,0.0,0,1.0,0.0,Firearms,Handgun,0.0,0.0,0.0,1,3.0,Minor (likely < $1 million),-99.0,0,Unknown,Unknown,Unknown,0,Unknown,20171222,12/22/2017,0.0,United States2017,1.954300e+13,325122128.0,60109.719754
181459,181479,2.017120e+11,2017,12,22,NaN,United States,North America,Pennsylvania,Harrisburg,40.261864,-76.880913,1.0,"201712220022, 201712220023",0,1,1,0,Armed Assault,Police,Police Patrol (including vehicles and convoys),United States,Unknown,0.0,0,1.0,0.0,Firearms,Handgun,1.0,1.0,1.0,1,3.0,Minor (likely < $1 million),-99.0,0,Unknown,Unknown,Unknown,0,Unknown,20171222,12/22/2017,2.0,United States2017,1.954300e+13,325122128.0,60109.719754

In [57]:
FileName6 = 'Freedom Index.csv'
df_fi = pd.read_csv(FileName6, low_memory = False)

In [59]:
df_fi_new = pd.melt(df_fi, 
        id_vars='Country Name', 
        value_vars=list(df_fi.columns[1:]), # list of days of the week
        var_name='Year', 
        value_name='Freedom House Index')
df_fi_new.head()

  Country Name  Year Freedom House Index
0  Afghanistan  1972                  PF
1      Albania  1972                  NF
2      Algeria  1972                  NF
3      Andorra  1972                  PF
4       Angola  1972                   -

In [60]:
df_fi_new.to_csv("Freedom Index New.csv")

In [61]:
FileName7 = 'Freedom Index New.csv'
df_fi_newer = pd.read_csv(FileName7, low_memory = False)

In [64]:
sub_df_fi = df_fi_newer[["Freedom House Index", "Country_year"]]
df_add_fi = df_add_pop.merge(sub_df_fi, on="Country_year", how="left")
df_add_fi.count()

Unnamed: 0             181671
eventid                181671
Year                   181671
Month                  181671
Day                    181671
approxdate               9239
Country                181671
Region                 181671
provstate              181250
city                   181237
latitude               177119
longitude              177118
multiple               181670
related                 25038
PERS_attack            181671
Larg_aud_attack        181671
Out_IHL_attack         181671
suicide                181671
Attack_type            181671
Target_type            181671
Target_subtype         171299
Target_nationality     180112
Group                  181671
guncertain1            181291
individual             181671
Number_attackers        28357
nperpcap               110340
Weapon_type            181671
weapsubtype1_txt       160913
Killed                 171369
nkillter               114733
Wounded                165371
property               181671
propextent              64055
propextent_txt          64055
propvalue               38985
ishostkid              181671
ransom                 181671
INT_LOG                181671
INT_IDEO               181671
INT_MISC               181671
INT_ANY                181671
dateInt                181671
Date                   181671
Casualties             164808
Country_year           181671
GDP in $               161380
Population             165705
GDP per capita         161363
Freedom House Index    173641
dtype: int64